%p#user_bar
  - if user_signed_in?
    %span#signed_in
      Signed in as
      %span#email= current_user.email
    %span#sign_out
      = link_to "Sign out", destroy_user_session_path
  - else
    %span#sign_up
      = link_to "Sign up »", new_user_registration_path
    %span#manage
      = link_to "Manage Account", edit_user_registration_path
