- content_for :css do
  = stylesheet_link_tag 'send'

#msg
  - if @link.valid?
    %p.msg#sent Just sent.
    %p#link_title= @link.title
  - else
    %p.msg#sorry Sorry, unsupported link:
  %p#link
    %input{:type => "text", :value => @link.uri, :size => 40}

= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"
:javascript
  $(function(){
    $('#link input').width($('#link').width() - 6);
  });
