%p#msg
  - if current_user.valid?
    %span#sent Successfully sent:
    %span#page_title= params[:title]
    %span#link= params[:link]
  - else
    %span#sorry Sorry, unsupported link:
    %span#link= params[:link]
