- content_for :css do
  :css
    body {
      background: #cdecff;
    }
    .msg {
      font-family: Georgia;
      font-size: 150%;
    }
    #link_title, #link {
      margin: 0;
    }
    #link_title {
      background-image: -moz-linear-gradient(top, #eeeeee 0%, #bbbbbb 88%);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eeeeee), color-stop(0.88, #bbbbbb));
      padding: 6px 6px 0;
    }
    #link {
      background-color: #bbbbbb;
      padding: 4px;
    }
    #link input {
      font-size: 108%;
      width: 100%;
    }

#msg
  - if @link.valid?
    %p.msg#sent Just sent.
    %p#link_title= @link.title
  - else
    %p.msg#sorry Sorry, unsupported link:
  %p#link
    %input{:type => "text", :value => @link.uri, :size => 40}

= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"
:javascript
  $(function(){
    $('#link input').width($('#link').width() - 6);
  });
