- content_for :head_extra do
  = stylesheet_link_tag 'send'

#send_
  - if @link.valid?
    %p.msg#sent The link has been kept successfully.
    %p#link_title= @link.title
  - else
    %p.msg#sorry Sorry, unsupported link:
  %p#link= @link.uri
